@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-image: url('imagens/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: roboto;

}

.titulo{
    text-align: center;
    padding-bottom: 30px;
}

.subtitulo{
    font-size: 25px;
    padding-top: 150px;
}

.nome{
    font-size: 50px;
}

.aparelhos{
    padding-bottom: 30px;
}

.meio{
    text-align: center;
    font-size: 13px;
    padding-bottom: 70px;
}


.imagens-adocao{
    padding-left: 27px;
}

.imagens-bolo{
    padding-left: 110px;
}

.imagens-lanchonete{
    padding-left: 20px;
}

.imagens{
    display: flex;
    padding-bottom: 100px;
    padding-left: 324px;
}

.adocao{
    width: 233px;
    padding-right: 100px;
}

.loja-bolo{
    width: 408px;
    padding-right: 100px;
}

.lanchonete{
    width: 249px;
    padding-right: 100px;
}